/* This is the pallete I worked from: */
/* http://coolors.co/app/2e382e-50c9ce-efc0f7-72a1e5-9883e5 */

/* Class for centered images with captions */
div.figure {
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-style: italic;
}

/* bootstrap has really big values for the heading fonts so I'm overiding them here */
h1 {
  font-size: 24px;
  font-weight: 500;
}

h1 small {
  font-size: 18px;
}

h2 {
  font-size: 20px;
  color: grey;
}

h3 {
  font-size: 18px;
}

/* These make the blog side bar navigator look decent. */

nav.post_nav{
    background-color: #efefef;
    position: fixed;
    width: 124px;
    margin-left: -186px;
    font-size: 12px;
    padding: 12px;
    padding-right: 24px;
    -moz-box-shadow: 0px 2px 4px #ccc; /* FF3.5+ */
    -webkit-box-shadow: 0px 2px 4px #ccc; /* Saf3.0+, Chrome */
          box-shadow: 0px 2px 4px #ccc; /* Opera 10.5, IE 9.0 */
              filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc'); /* IE6,IE7 */
          -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc')"; /* IE8 */

}

.post_nav a.disabled{
    color: #ccc;
}

.post_nav a{
    color: #666;
    text-decoration: none;
    text-shadow: 0px 2px 0px #fff;
}

.post_nav div{
    display: block;
    float: left;
    width: 58px;
    overflow: hidden;
    margin-left: 4px;
}

a.backlink{
    display:block;
    line-height: 24px;
    margin-bottom: 12px;
}

a.backlink:before{
    content: '\2190';
}

a.prev:before{
    content: '\00AB';
}

a.next:after{
    content: '\00BB';
}

a.prev{
    margin-right: 12px;
}

a.prev,
a.next{
    display: block;
    float: left;
    margin-bottom: 12px;
}

a.next{ float: right };

a.backlink:hover, a.prev:hover, a.next:hover{
    color: #222;
}

ul.tags{
    margin-bottom: 24px;
    text-align: right;
}

ul.tags li{
    list-style-type: none;
    display: inline;
}

ul.tags li a{
    color: #999;
    text-decoration: none;
}

h1.tag:before,
ul.tags li a:before{
    content: '\00AB';
}

h1.tag:after,
ul.tags li a:after{
    content: '\00BB';
}

ul.tags li a:hover{
    color: #222;
}

blockquote p{
  margin-bottom: 10px;
}

.listing time{
    display:block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
    font-size: 10px;
}

.listing img{
    width: 400px;
}

.listing li{
    list-style-type: none;
}


.listing .document{
    padding-top: 4px;
}

/* Custom Navigation Bar */

.navbar-simple .brand {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 30px;
  font-weight: 300;
}
.navbar-simple .navbar-inner {
  background: #72A1E5;
  filter: none !important;
  box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.navbar-simple .navbar-inner .nav {
    float: right;
}
.navbar-simple .navbar-inner .nav li a {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
}
.navbar-simple .navbar-inner .nav li a:hover {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #efc0f7;
}
.navbar-simple .navbar-inner .nav li.active a {
    color: #efc0f7;
}

.navbar .brand {
  color: #fff;
  text-shadow: 0 1px 0 #2E382e;
}

.navbar .nav > li > a {
  text-shadow: 0 1px 0 #2E382E;
}

.page-header {
  background-color: #593a6a;
}

.page-header h1 {
  color: #fff;
  background-color: #593a6a;
}

a {
  color: #72a1e5;
}

a:hover {
  color: #9883E5;
  text-decoration: none;
}

/* Force the portfolio listings images to all have the same height. */
.portfolio-list img{
  max-height: 300px;
}

.portfolio-list h3{
  padding-left: 20px;
}

