RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests;"
Redirect /media/docs/building-efficiency-journal-club-flyer.pdf https://objects-us-east-1.dream.io/moorepants/building-efficiency-journal-club-flyer.pdf
Redirect /media/docs/JasonMoore_cv.pdf https://objects-us-east-1.dream.io/moorepants/JasonMoore_cv.pdf
Redirect /media/docs/research-statement.pdf https://objects-us-east-1.dream.io/moorepants/research-statement.pdf
Redirect /media/docs/teaching-statement-2013.pdf https://objects-us-east-1.dream.io/moorepants/teaching-statement-2013.pdf
Redirect /media/docs/teaching-statement-2015.pdf https://objects-us-east-1.dream.io/moorepants/teaching-statement-2015.pdf
Redirect /media/images/bauer-compressor-3d.jpg https://objects-us-east-1.dream.io/moorepants/bauer-compressor-3d.jpg
Redirect /media/images/car.gif https://objects-us-east-1.dream.io/moorepants/car.gif
Redirect /media/images/cleveland-bridge.jpg https://objects-us-east-1.dream.io/moorepants/cleveland-bridge.jpg
Redirect /media/images/falkor-00.jpg https://objects-us-east-1.dream.io/moorepants/falkor-00.jpg
Redirect /media/images/fancy-cell-shearer.png https://objects-us-east-1.dream.io/moorepants/fancy-cell-shearer.png
Redirect /media/images/fiberglassing-800-600.jpg https://objects-us-east-1.dream.io/moorepants/fiberglassing-800-600.jpg
Redirect /media/images/haya.png https://objects-us-east-1.dream.io/moorepants/haya.png
Redirect /media/images/headshot.jpg https://objects-us-east-1.dream.io/moorepants/headshot.jpg
Redirect /media/images/jason-bicycle-mo-cap.jpg https://objects-us-east-1.dream.io/moorepants/jason-bicycle-mo-cap.jpg
Redirect /media/images/jason-on-instrumented-bicycle.jpg https://objects-us-east-1.dream.io/moorepants/jason-on-instrumented-bicycle.jpg
Redirect /media/images/jodi-jason-bike-par-meas.jpg https://objects-us-east-1.dream.io/moorepants/jodi-jason-bike-par-meas.jpg
Redirect /media/images/lfst-bwb.jpg https://objects-us-east-1.dream.io/moorepants/lfst-bwb.jpg
Redirect /media/images/maglev.jpg https://objects-us-east-1.dream.io/moorepants/maglev.jpg
Redirect /media/images/mmu.jpg https://objects-us-east-1.dream.io/moorepants/mmu.jpg
Redirect /media/images/odu-hpv.jpg https://objects-us-east-1.dream.io/moorepants/odu-hpv.jpg
Redirect /media/images/peanut-sheller.jpg https://objects-us-east-1.dream.io/moorepants/peanut-sheller.jpg
Redirect /media/images/pedal-desk.jpg https://objects-us-east-1.dream.io/moorepants/pedal-desk.jpg
Redirect /media/images/robot.ico https://objects-us-east-1.dream.io/moorepants/robot.ico
Redirect /media/images/sacbee-freeport.jpeg https://objects-us-east-1.dream.io/moorepants/sacbee-freeport.jpeg
Redirect /media/images/yeadon-gui-screenshot.png https://objects-us-east-1.dream.io/moorepants/yeadon-gui-screenshot.png
Redirect /media/images/zambulance.jpg https://objects-us-east-1.dream.io/moorepants/zambulance.jpg
RedirectMatch /notebook$ /category/notebook.html
RedirectMatch /notebook/$ /category/notebook.html
Redirect /notebook/notebook-2013-07-17.html /blog/notebook-2013-07-17.html
Redirect /notebook/notebook-2013-07-18.html /blog/notebook-2013-07-18.html
Redirect /notebook/notebook-2013-07-19.html /blog/notebook-2013-07-19.html
Redirect /notebook/notebook-2013-07-29.html /blog/notebook-2013-07-29.html
Redirect /notebook/notebook-2013-07-30.html /blog/notebook-2013-07-30.html
Redirect /notebook/notebook-2013-07-31.html /blog/notebook-2013-07-31.html
Redirect /notebook/notebook-2013-08-01.html /blog/notebook-2013-08-01.html
Redirect /notebook/notebook-2013-08-02.html /blog/notebook-2013-08-02.html
Redirect /notebook/notebook-2013-08-05.html /blog/notebook-2013-08-05.html
Redirect /notebook/notebook-2013-08-06.html /blog/notebook-2013-08-06.html
Redirect /notebook/notebook-2013-08-07.html /blog/notebook-2013-08-07.html
Redirect /notebook/notebook-2013-08-08.html /blog/notebook-2013-08-08.html
Redirect /notebook/notebook-2013-08-09.html /blog/notebook-2013-08-09.html
Redirect /notebook/notebook-2013-08-12.html /blog/notebook-2013-08-12.html
Redirect /notebook/notebook-2013-08-13.html /blog/notebook-2013-08-13.html
Redirect /notebook/notebook-2013-08-14.html /blog/notebook-2013-08-14.html
Redirect /notebook/notebook-2013-08-15.html /blog/notebook-2013-08-15.html
Redirect /notebook/notebook-2013-08-16.html /blog/notebook-2013-08-16.html
Redirect /notebook/notebook-2013-08-19.html /blog/notebook-2013-08-19.html
Redirect /notebook/notebook-2013-08-20.html /blog/notebook-2013-08-20.html
Redirect /notebook/notebook-2013-08-21.html /blog/notebook-2013-08-21.html
Redirect /notebook/notebook-2013-08-22.html /blog/notebook-2013-08-22.html
Redirect /notebook/notebook-2013-08-23.html /blog/notebook-2013-08-23.html
Redirect /notebook/notebook-2013-08-26.html /blog/notebook-2013-08-26.html
Redirect /notebook/notebook-2013-08-27.html /blog/notebook-2013-08-27.html
Redirect /notebook/notebook-2013-08-28.html /blog/notebook-2013-08-28.html
Redirect /notebook/notebook-2013-08-29.html /blog/notebook-2013-08-29.html
Redirect /notebook/notebook-2013-08-30.html /blog/notebook-2013-08-30.html
Redirect /notebook/notebook-2013-09-03.html /blog/notebook-2013-09-03.html
Redirect /notebook/notebook-2013-09-04.html /blog/notebook-2013-09-04.html
Redirect /notebook/notebook-2013-09-05.html /blog/notebook-2013-09-05.html
Redirect /notebook/notebook-2013-09-06.html /blog/notebook-2013-09-06.html
Redirect /notebook/notebook-2013-09-09.html /blog/notebook-2013-09-09.html
Redirect /notebook/notebook-2013-09-11.html /blog/notebook-2013-09-11.html
Redirect /notebook/notebook-2013-09-12.html /blog/notebook-2013-09-12.html
Redirect /notebook/notebook-2013-09-16.html /blog/notebook-2013-09-16.html
Redirect /notebook/notebook-2013-09-17.html /blog/notebook-2013-09-17.html
Redirect /notebook/notebook-2013-09-18.html /blog/notebook-2013-09-18.html
Redirect /notebook/notebook-2013-09-20.html /blog/notebook-2013-09-20.html
Redirect /notebook/notebook-2013-09-23.html /blog/notebook-2013-09-23.html
Redirect /notebook/notebook-2013-09-24.html /blog/notebook-2013-09-24.html
Redirect /notebook/notebook-2013-09-30.html /blog/notebook-2013-09-30.html
Redirect /notebook/notebook-2013-10-06.html /blog/notebook-2013-10-06.html
Redirect /notebook/notebook-2013-10-07.html /blog/notebook-2013-10-07.html
Redirect /notebook/notebook-2013-10-17.html /blog/notebook-2013-10-17.html
Redirect /notebook/notebook-2013-11-04.html /blog/notebook-2013-11-04.html
Redirect /notebook/notebook-2013-11-25.html /blog/notebook-2013-11-25.html
Redirect /notebook/notebook-2014-03-24.html /blog/notebook-2014-03-24.html
Redirect /notebook/notebook-2014-03-25.html /blog/notebook-2014-03-25.html
Redirect /notebook/notebook-2014-04-23.html /blog/notebook-2014-04-23.html
Redirect /notebook/notebook-2014-05-16.html /blog/notebook-2014-05-16.html
Redirect /notebook/notebook-2014-05-27.html /blog/notebook-2014-05-27.html
Redirect /notebook/notebook-2014-07-01.html /blog/notebook-2014-07-01.html
Redirect /notebook/notebook-2014-07-16.html /blog/notebook-2014-07-16.html
Redirect /notebook/notebook-2014-07-24.html /blog/notebook-2014-07-24.html
Redirect /notebook/notebook-2014-07-29.html /blog/notebook-2014-07-29.html
Redirect /notebook/notebook-2014-07-30.html /blog/notebook-2014-07-30.html
Redirect /notebook/notebook-2014-08-07.html /blog/notebook-2014-08-07.html
Redirect /notebook/notebook-2014-08-18.html /blog/notebook-2014-08-18.html
Redirect /notebook/notebook-2014-08-26.html /blog/notebook-2014-08-26.html
Redirect /notebook/notebook-2014-09-02.html /blog/notebook-2014-09-02.html
Redirect /notebook/notebook-2014-09-09.html /blog/notebook-2014-09-09.html
Redirect /notebook/notebook-2014-09-16.html /blog/notebook-2014-09-16.html
Redirect /notebook/notebook-2014-09-23.html /blog/notebook-2014-09-23.html
Redirect /notebook/notebook-2014-09-30.html /blog/notebook-2014-09-30.html
Redirect /notebook/notebook-2014-10-07.html /blog/notebook-2014-10-07.html
Redirect /notebook/notebook-2014-10-14.html /blog/notebook-2014-10-14.html
Redirect /notebook/notebook-2014-10-15.html /blog/notebook-2014-10-15.html
Redirect /notebook/notebook-2014-10-21.html /blog/notebook-2014-10-21.html
Redirect /notebook/notebook-2014-10-29.html /blog/notebook-2014-10-29.html
Redirect /notebook/notebook-2014-11-12.html /blog/notebook-2014-11-12.html
Redirect /notebook/notebook-2014-11-18.html /blog/notebook-2014-11-18.html
Redirect /notebook/notebook-2014-11-25.html /blog/notebook-2014-11-25.html
Redirect /notebook/notebook-2014-12-02.html /blog/notebook-2014-12-02.html
Redirect /notebook/notebook-2014-12-09.html /blog/notebook-2014-12-09.html
Redirect /notebook/notebook-2014-12-16.html /blog/notebook-2014-12-16.html
Redirect /notebook/notebook-2015-01-14.html /blog/notebook-2015-01-14.html
Redirect /notebook/notebook-2015-02-09.html /blog/notebook-2015-02-09.html
Redirect /notebook/notebook-2015-02-16.html /blog/notebook-2015-02-16.html
Redirect /notebook/notebook-2015-02-24.html /blog/notebook-2015-02-24.html
Redirect /notebook/notebook-2015-03-02.html /blog/notebook-2015-03-02.html
Redirect /notebook/notebook-2015-03-10.html /blog/notebook-2015-03-10.html
Redirect /notebook/notebook-2015-03-16.html /blog/notebook-2015-03-16.html
Redirect /notebook/notebook-2015-04-01.html /blog/notebook-2015-04-01.html
Redirect /notebook/notebook-2015-04-06.html /blog/notebook-2015-04-06.html
Redirect /notebook/notebook-2015-04-13.html /blog/notebook-2015-04-13.html
Redirect /notebook/notebook-2015-04-27.html /blog/notebook-2015-04-27.html
Redirect /notebook/notebook-2015-05-05.html /blog/notebook-2015-05-05.html
Redirect /notebook/notebook-2015-05-11.html /blog/notebook-2015-05-11.html
Redirect /notebook/notebook-2015-05-19.html /blog/notebook-2015-05-19.html
Redirect /notebook/notebook-2015-06-08.html /blog/notebook-2015-06-08.html
Redirect /notebook/notebook-2015-06-15.html /blog/notebook-2015-06-15.html
Redirect /notebook/notebook-2015-06-22.html /blog/notebook-2015-06-22.html
Redirect /notebook/notebook-2015-07-01.html /blog/notebook-2015-07-01.html
Redirect /notebook/notebook-2015-09-03.html /blog/notebook-2015-09-03.html
Redirect /notebook/notebook-2015-09-10.html /blog/notebook-2015-09-10.html
Redirect /notebook/notebook-2015-09-14.html /blog/notebook-2015-09-14.html
RedirectMatch /portfolio$ /portfolio.html
RedirectMatch /portfolio/$ /portfolio.html
Redirect /research/bicycle-rider-motion.html /portfolio/bicycle-rider-motion.html
Redirect /research/bicycle-rider-parameters.html /portfolio/bicycle-rider-parameters.html
Redirect /research/human-control-bicycle.html /portfolio/human-control-bicycle.html
Redirect /research/human-power.html /portfolio/human-power.html
RedirectMatch /research$ /research.html
RedirectMatch /research/$ /research.html
RedirectMatch /teaching$ /teaching.html
RedirectMatch /teaching/$ /teaching.html
Redirect /teaching/teaching-statement-2013.html /teaching-statement-2013.html
Redirect /teaching/teaching-statement-2015.html /teaching-statement-2015.html
