RewriteEngine on
Redirect /research/bicycle-rider-motion.html /portfolio/bicycle-rider-motion.html
Redirect /research/bicycle-rider-parameters.html /portfolio/bicycle-rider-parameters.html
Redirect /research/human-control-bicycle.html /portfolio/human-control-bicycle.html
Redirect /research/human-power.html /portfolio/human-power.html
