{% extends "columns.j2" %}
{% from "macros.j2" import render_excerpt with context  %}

{% block main %}

{% block intro %}{% endblock%}

<div class="row">
{% for res in resource.node.walk_resources_sorted_by_startdate() %}
  <div class="span4">
  {{ render_excerpt(res) }}
  </div>
{% endfor %}
</div>

{% endblock %}
