{% extends "columns.j2" %}
{% from "macros.j2" import render_excerpt with context  %}
{% block main %}
<!-- {% block page_title %}<h1 class="title">{{ resource.meta.title }}</h1>{% endblock %} -->

<div class="row">
{% for res in resource.node.walk_resources_sorted_by_name() %}
  <div class="span4">
  {{ render_excerpt(res) }}
  </div>
{% endfor %}
</div>
{% endblock %}
